.no-js {
  #loader, .wrapper {
    display: none !important;
  }
}

.no-csstransforms,
.no-mediaqueries,
.no-bgsizecover {
  #loader, .wrapper {
    display: none !important;
  }

  oldbrowser {
    display: block;
  }
}

.no-opacity {
  .overlay {
    display: none;
  }

  h1, h3, h4 {
    &::before,
    &::after {
      display: none;
    }
  }
}
