@import "/styles/themes/h4x0r.less";

html {
  color: @fg-color;
  background: @bg-color;
  font-size: 18px;
  line-height: 1.6;
  font-family: "Kelly Slab", monospace;
}

body {
  overflow-x: hidden;
}

::-moz-selection {
  background: #999;
  text-shadow: none;
}

::selection {
  background: @primary-dark-color;
  text-shadow: none;
}

.overlay {
  background-position: 0px 0px;
  background-repeat: repeat;
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .1;
}

#overlay-1 {
  background-image: url(/images/overlay-1a.gif);
  opacity: 0.2;
  z-index: 9000;
}

html.no-animation {
  #overlay-1 {
    background-image: url(/images/overlay-1a@1x.jpg);
  }
}

.vessel {
  display: block;
  padding: 0 2em 0 2em;
}

@import "/styles/animations.less";
@import "/styles/controls.less";
@import "/styles/splash.less";
@import "/styles/resume.less";
@import "/styles/footer.less";

a {
  color: @primary-neutral-color;
  position: relative;
  z-index: 999999;
  text-decoration: none;
  transition: color 250ms;
  display: inline-block;

  &:hover {
    color: @fg-color;
    text-decoration: underline;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 24px;
  }

  .vessel {
    padding: 0 45px 0 95px;
  }
}

@media screen and (min-width: 1000px) {
  .vessel {
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
  }
}

@media print {
  html {
    color: #111;
    background: #FFF;
  }

  .overlay {
    display: none;
  }
}
