html {
  color: #111;
  font-size: 24px;
  line-height: 1.6;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@import "/styles/resume.less";
